:root {
  --background-color: #e5e5e5;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #2196f3;
  --color-grey: #757575;
  --color-dark-grey: #2f303a;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Relaway', sans-serif;
  --normal-text-color: #212121;
  --paragraph-text-color: #757575;
  --link-color: #2196f3;
  --secondary-background-color: #2f303a;
  --button-color: #f5f4fa;
}
* {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  color: var(--normal-text-color);
}

.section {
  padding: 94px 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.header {
  background-color: var(--color-white);
}
/* =====================================INDEX============== */
.main-section {
  background-color: var(--secondary-background-color);
}
.slogan {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue-button {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-white);
  border: 0px;
  background-color: var(--link-color);
}

.lorem {
  background-color: var(--color-white);
}
.paragraphs-container {
  gap: 30px;
  display: flex;
  justify-content: space-around;
}
.paragraphs-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.paragraphs-text {
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
  padding-top: 10px;
}

.our-team {
  background: #f5f4fa;
}
.section-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.paragraphs-container-secondary {
  gap: 30px;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.our-team-image {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
}
.name {
  font-size: 16px;
  padding-top: 30px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-black);
  text-align: center;
}
.describe-name {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 30px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-grey);
  text-align: center;
}

/*=========================================FOOTER-HEADER========= */

/* ============================================HEADER=========== */
.nav-bar {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--white);
  display: flex;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.46;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.studio {
  font-family: var(--secondary-font);
  color: var(--color-black);
}
.contact-position {
  justify-content: flex-end;
}

.nav-items-second {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-item {
  display: flex;
  font-family: var(--main-font);
  color: var(--normal-text-color);
  gap: 46px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
}

.menu-item {
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--normal-text-color);
}

.contact-mail {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
}
.contact-tel {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
}

/* ===========================================FOOTER============== */

.footer {
  background-color: var(--color-dark-grey);
}
.studio-footer {
  color: var(--color-white);
}
.logo-footer {
  padding-bottom: 20px;
  padding-top: 60px;
  display: flex;
}
.adress {
  display: block;
  justify-content: flex-start;
  padding-bottom: 60px;
}
.street {
  font-style: normal;
  font-family: var(--main-font);
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-info {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
}
.contact-info-footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button:focus,
.button:hover {
  color: white;
  background-color: var(--link-color);
}
a:hover,
a:focus {
  color: var(--link-color);
}

/*===========================================PORTFOLIO===========*/
button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: #f5f4fa;
  border-color: #f5f4fa;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 50px;
}
.portfolio-container {
  display: flex;
  gap: 15px;
  flex-flow: row wrap;
}
.box-portfolio {
  border: 1px solid rgba(238, 238, 238, 1);
}
.title-h3 {
  font-family: var(--main-font);
  color: rgba(33, 33, 33, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.description-image {
  color: var(--color-grey);
  line-height: 1.875;
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.portfolio {
  justify-content: center;
}
